@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Choose an Episode</h1>
    <div>
        <a href="/home/filmdetails?id=1">Episode 1</a>
        <a href="/home/filmdetails?id=2">Episode 2</a>
        <a href="/home/filmdetails?id=3">Episode 3</a>
        <a href="/home/filmdetails?id=4">Episode 4</a>
        <a href="/home/filmdetails?id=5">Episode 5</a>
        <a href="/home/filmdetails?id=6">Episode 6</a>
       
    </div>
    
</div>
